{{#compare loaderName '!=' ""}}
    <div id="loading-center" style="background: url('{{ path }}assets/images/{{loaderName}}') no-repeat scroll 50%;">
    </div>
{{else}}
    <div id="loading-center">
    </div>
{{/compare}}