<!-- Fixed Side Menu -->
<div class="dashboard3-fixed-menu">
    <div class="dashboard3-info bg-primary p-2 rounded">
        <a href="#payment" class="collapsed" data-toggle="collapse" aria-expanded="false">
            <i class="ri-list-check"></i>
        </a>
        <ul id="payment" class="submenu collapse show list-inline m-0 p-0 mt-2">
            <li>
                <a href="gallery-grid.html" data-toggle="tooltip" data-placement="right" title="Gallery"><i
                        class="las la-images mm-arrow-left"></i></a>
            </li>
            <li>
                <a href="blog-simple.html" data-toggle="tooltip" data-placement="right" title="Blog"><i
                        class="las la-blog mm-arrow-left"></i></a>
            </li>
            <li>
                <a href="plugin-rating.html" data-toggle="tooltip" data-placement="right" title="Plugins"><i
                        class="las la-network-wired mm-arrow-left"></i></a>
            </li>
            <li>
                <a href="tables-basic.html" data-toggle="tooltip" data-placement="right" title="Table"><i
                        class="las la-border-all"></i></a>
            </li>
            <li>
                <a href="../app/email.html" data-toggle="tooltip" data-placement="right" title="Email"><i
                        class="las la-envelope-square"></i></a>
            </li>
            <li>
                <a href="../app/chat.html" data-toggle="tooltip" data-placement="right" title="Chat"><i
                        class="lab la-rocketchat"></i></a>
            </li>
            <li>
                <a href="pages-faq.html" data-toggle="tooltip" data-placement="right" title="Faq"><i
                        class="las la-drafting-compass"></i></a>
            </li>
            <li>
                <a href="auth-sign-in.html" data-toggle="tooltip" data-placement="right" title="Sign in"><i
                        class="las la-sign-in-alt"></i></a>
            </li>
            <li>
                <a href="auth-sign-up.html" data-toggle="tooltip" data-placement="right" title="Sign Up"><i
                        class="las la-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>
</div>
<!-- Fixed Side Menu End -->