
{{#extend layout title="Vector Map" active="map-vector" bodyClass=""  path="../" }}
{{#content "head"}}

{{/content}}
{{#content "content"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title"><h4 class="card-title">Simple World Map</h4></div>
                </div>
                <div class="card-body">
                    <div id="world-map-gdp1" class="vactormap-height"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <div class="header-title"><h4 class="card-title">Color World Map</h4></div>
                </div>
                <div class="card-body">
                    <div id="world-map-gdp" class="vactormap-height"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><h4 class="card-title">Region Selection Map</h4></div>
                <div class="card-body">
                    <div id="rusia-map" class="vactormap-height"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><h4 class="card-title">Label Map</h4></div>
                <div class="card-body">
                    <div id="icon-map" class="vactormap-height"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><h4 class="card-title">Legend Map</h4></div>
                <div class="card-body">
                    <div id="legend-map" class="vactormap-height"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}}

{{/extend}}