
{{#extend layout title="pages-blank-page" active="pages-blank-page" bodyClass="color-light" path="../" }}
    {{#content "content"}}
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">
               Here Add Your HTML Content.....
            </div>
         </div>
      </div>
   {{/content}}
{{/extend}}