
{{#extend layout title="loder" active="plugin-loader" path="../" }}
    {{#content "content"}}
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Loader Style</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <div class="row">
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 1</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-1"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 2</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-2"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 3</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-3">
                                 <div class="loader-outter"></div>
                                 <div class="loader-inner"></div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 4</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-4"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 5</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-5"> <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 6</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-6"> <span class="inner inner1"></span>
                                 <span class="inner inner2"></span>
                                 <span class="inner inner3"></span>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 7</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-7"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 8</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-8"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 9</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-9"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 10</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-10"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 11</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-11"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 12</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-12"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 13</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-13"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 14</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-14"></div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 15</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-15">
                                 <div class="loader-inner"></div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-3 col-sm-4">
                           <h5 class="text-center pb-2 border-bottom">Loader 16</h5>
                           <div class="mm-loader-box">
                              <div class="mm-loader-16"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   {{/content}}
{{/extend}}