
{{#extend layout active="plugin-tree-view" title="tree-view" path="../" }}
    {{#content "content"}}
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-6 col-md-6">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Basic Tree</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <div class="basic-tree well">
                        <ul class="tree-box">
                           <li>
                              <span><i class="fa fa-folder-open"></i> Parent</span> 
                              <ul class="tree-box">
                                 <li>
                                    <span><i class="fa fa-minus ic-square"></i> Child 1</span> 
                                    <ul class="tree-box">
                                       <li>
                                          <span><i class="icon-leaf"></i> Grand Child 1</span> 
                                       </li>
                                    </ul>
                                 </li>
                                 <li>
                                    <span><i class="fa fa-minus ic-square"></i> Child 2</span> 
                                    <ul class="tree-box">
                                       <li>
                                          <span><i class="icon-leaf"></i> Grand Child 1</span> 
                                       </li>
                                       <li>
                                          <span><i class="fa fa-minus ic-square"></i> Grand Child 2</span>
                                          <ul class="tree-box">
                                             <li>
                                                <span><i class="fa fa-minus ic-square"></i> Great Grand Child 1</span>
                                                <ul class="tree-box">
                                                   <li>
                                                      <span><i class="icon-leaf"></i> Great Great Grand Child 1</span>                                                         
                                                   </li>
                                                   <li>
                                                      <span><i class="icon-leaf"></i> Great Great Grand Child 2</span>                                                          
                                                   </li>
                                                </ul>
                                             </li>
                                             <li>
                                                <span><i class="icon-leaf"></i> Great Grand Child 2</span> 
                                             </li>
                                             <li>
                                                <span><i class="icon-leaf"></i> Great Grand Child 3</span> 
                                             </li>
                                          </ul>
                                       </li>
                                       <li>
                                          <span><i class="icon-leaf"></i> Grand Child 3</span> 
                                       </li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                           <li>
                              <span><i class="fa fa-folder-open"></i> Parent2</span> 
                              <ul class="tree-box">
                                 <li>
                                    <span><i class="fa fa-minus ic-square"></i> Child 1</span>
                                    <ul class="tree-box">
                                       <li>
                                          <span><i class="icon-leaf"></i> Great Child 1</span> 
                                       </li>
                                       <li>
                                          <span><i class="icon-leaf"></i> Great Child 2</span> 
                                       </li>
                                    </ul>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title">Checkbox Tree</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <div id="flex-tree-check"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   {{/content}}
{{/extend}}