
{{#extend layout title="sweetalert" active="plugin-sweetalert" path="../" }}
    {{#content "content"}}
      <div class="container-fluid sweet_al">
         <div class="row">
            <div class="col-lg-6 col-md-6">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title mb-0">Basic</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <button type="button" class="btn btn-primary mt-1" id="basic">Basic</button>
                     <button type="button" class="btn btn-primary mt-1" id="basic-title">With Title Alert</button>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title mb-0">Alert States</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <button type="button" class="btn btn-danger mt-1" id="danger">Danger</button>
                     <button type="button" class="btn btn-warning mt-1" id="warning">Warning</button>
                     <button type="button" class="btn btn-info mt-1" id="info">Information</button>
                     <button type="button" class="btn btn-success mt-1" id="success">Success</button>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title mb-0">A Dialog With Confirmation</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <button type="button" class="btn btn-primary" id="confirmation">Click Me</button>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title mb-0">A Dialog With Customizing Buttons</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <button type="button" class="btn btn-primary" id="custom-buttons">Click Me</button>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title mb-0">AJAX requests</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <button type="button" class="btn btn-primary" id="ajax-request">Click Me</button>
                  </div>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="card card-block card-stretch card-height">
                  <div class="card-header d-flex justify-content-between">
                     <div class="header-title">
                        <h4 class="card-title mb-0">Using Form Input</h4>
                     </div>
                  </div>
                  <div class="card-body">
                     <button type="button" class="btn btn-primary" id="form-input">Click Me</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   {{/content}}
{{/extend}}