{{!-- layouts/base.hbs --}}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ appName }} | Responsive Bootstrap 4 Admin Dashboard Template</title>
    {{> partials/backend/head }}
    {{#block "head"}}
    {{!-- External page head section--}}
    {{/block}}
</head>

<body class="hospi-wrapper {{bodyClass}} {{#compare dark '===' 'true'}} dark {{/compare}}">
    <!-- loader Start -->
    <div id="loading">
        {{> partials/backend/loader }}
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper bg-h-full l-horizontal overflow-hidden">
        {{> partials/backend/header-dashboard-2 }}
        <div class="content-page hospi-content">
            {{#block "content"}}
            {{/block}}
        </div>
    </div>
    <!-- Wrapper End-->
    <div class="container-fluid">
        <div class="row">
            {{> partials/backend/footer }}
        </div>
    </div>
    {{> partials/backend/scripts }}
    {{#block "scripts"}}
    {{/block}}
</body>

</html>