{{!-- layouts/base.hbs --}}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ appName }} | Responsive Bootstrap 4 Admin Dashboard Template</title>
    {{> partials/backend/head }}
    {{#block "head"}}
    {{!-- External page head section--}}
    {{/block}}
</head>

<body class="box-bg mm-hotel {{bodyClass}} {{#compare dark '===' 'true'}} dark {{/compare}}">
    <!-- loader Start -->
    <div id="loading">
        {{> partials/backend/loader }}
    </div>
    <!-- loader END -->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <div class="container-fluid container-md hotel-container">
            {{> partials/backend/header-dashboard-3 }}
            <div class="content-page">
                {{#block "content"}}
                {{/block}}
            </div>
        </div>
    </div>
    <!-- Wrapper End-->
    <div class="container">
        <div class="row">
            {{> partials/backend/footer }}
        </div>
    </div>
    {{> partials/backend/scripts }}
    {{#block "scripts"}}
    {{/block}}
</body>

</html>